@model ProjektniZadatak.Models.Reservation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.multidatespicker.css" rel="stylesheet" />

@section Scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.multidatespicker.js"></script>
    <script>
        const _MS_PER_DAY = 1000 * 60 * 60 * 24;

        // a and b are javascript Date objects
        function dateDiffInDays(a, b) {
            // Discard the time and time-zone information.
            const utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
            const utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

            return Math.floor((utc2 - utc1) / _MS_PER_DAY);
        }

        $(document).ready(function () {
            var date = new Date();
            @{
                var min = ((DateTime)ViewBag.minCustomDate).ToLongDateString();
                var max = ((DateTime)ViewBag.maxCustomDate).ToLongDateString();
            }
            var minDate = new Date("@min");
            var maxDate = new Date("@max");

            var now = new Date(Date.now());

            var minRelative = dateDiffInDays(now, minDate);
            var maxRelative = dateDiffInDays(now, maxDate);

            var aa = "";
            @{
                string a = "";
                for (int i = 0; i < (ViewBag.dates as List<DateTime>).Count; i++)
                {
                    a += "\"";
                    a += (ViewBag.dates as List<DateTime>)[i].ToLongDateString();
                    a += "\"";
                    if (i != (ViewBag.dates as List<DateTime>).Count - 1)
                    {
                        a += ", ";
                    }
                }
            }
            aa = "@a";

            var bb = aa.replace(/&quot;/g, '"');
            var arr = JSON.parse("[" + bb + "]");
            let results = arr.map(date => new Date(date))

            $("#datepick").multiDatesPicker({
                maxPicks: 1,
                addDisabledDates: results,
                dateFormat: "dd-mm-yy",
                minDate: minRelative,
                maxDate: maxRelative,
            });

        });

    </script>
}

<br />

<form action="~/Reservation/CheckReservation" method="post">
    <div class="form-horizontal">

        <input type="hidden" name="apartmentId" value="@ViewBag.apartmentId" />

        <div class="form-group">
            <input style="min-width:145px" class="btn btn-info" id="datepick" readonly required type="text" autocomplete="off" name="registrationTime" value="@ViewBag.registrationTime" />
        </div>

        <div class="form-group">
            <input class="btn btn-info" min="1" type="number" name="numberOfNights" required value="" />
            <label class="text-danger">@TempData["Days"]</label>
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="Reserve" />
        </div>

    </div>
</form>