@model IEnumerable<ProjektniZadatak.Models.Reservation>

@{
    ViewBag.Title = "ViewReservations";
}

@{
    if (Session["User"] is null || Model is null)
    {
        Response.Redirect("~/User/Index");
        return;
    }
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


@if (Session["User"] is ProjektniZadatak.Models.Host || Session["User"] is ProjektniZadatak.Models.Administrator)
{
    <form action="~/Reservation/Search" method="post">
        <div class="row">
            <div class="col-xl-1"></div>

            <div class="form-group col-xl-3">
                <label for="name">Guest username</label><br />
                <input style="min-width:70px;" class="btn btn-info" type="text" name="Username" value="@ViewBag.username" />
            </div>

            <div class="form-group col-xl-3">
                <label>Status</label><br />
                <select class="btn btn-info" name="Status">
                    @if (ViewBag.status == "Accepted")
                    {
                        <option selected value="@ProjektniZadatak.Models.ReservationStatus.Accepted">Accepted</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Cancellation">Cancellation</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Completed">Completed</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Created">Created</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Rejected">Rejected</option>
                        <option value="None">None</option>
                    }
                    else if (ViewBag.status == "Cancellation")
                    {
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Accepted">Accepted</option>
                        <option selected value="@ProjektniZadatak.Models.ReservationStatus.Cancellation">Cancellation</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Completed">Completed</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Created">Created</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Rejected">Rejected</option>
                        <option value="None">None</option>
                    }
                    else if (ViewBag.status == "Completed")
                    {
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Accepted">Accepted</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Cancellation">Cancellation</option>
                        <option selected value="@ProjektniZadatak.Models.ReservationStatus.Completed">Completed</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Created">Created</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Rejected">Rejected</option>
                        <option value="None">None</option>
                    }
                    else if (ViewBag.status == "Created")
                    {
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Accepted">Accepted</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Cancellation">Cancellation</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Completed">Completed</option>
                        <option selected value="@ProjektniZadatak.Models.ReservationStatus.Created">Created</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Rejected">Rejected</option>
                        <option value="None">None</option>
                    }
                    else if (ViewBag.status == "Rejected")
                    {
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Accepted">Accepted</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Cancellation">Cancellation</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Completed">Completed</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Created">Created</option>
                        <option selected value="@ProjektniZadatak.Models.ReservationStatus.Rejected">Rejected</option>
                        <option value="None">None</option>
                    }
                    else
                    {
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Accepted">Accepted</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Cancellation">Cancellation</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Completed">Completed</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Created">Created</option>
                        <option value="@ProjektniZadatak.Models.ReservationStatus.Rejected">Rejected</option>
                        <option selected value="None">None</option>
                    }
                </select>
            </div>

            <div class="form-group col-xl-3">
                <label class="invisible">A</label><br />
                <button class="btn btn-info" type="submit">Search&nbsp;&nbsp;<i class="fa fa-search"></i></button>
                <a class="btn btn-info" href="~/Reservation/ViewReservations">Clear&nbsp;&nbsp;<i class="fa fa-close"></i></a>
            </div>

        </div>
    </form>
}

<table class="table">

    @{
        TempData["modelRes"] = Model;
    }

    <tr>
        <th>
            Reservation start
        </th>
        <th>
            Number of nights
        </th>
        <th>
            Total price
            @if (ViewBag.price != null)
            {
                <a href="~/Reservation/Sort/priceAsc">&or;</a>
            }
            else
            {
                <a href="~/Reservation/Sort/priceDsc">&and;</a>
            }
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ReservationStartDate.ToShortDateString()
            </td>
            <td>
                @item.NumberOfNights
            </td>
            <td>
                @item.TotalPrice
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @if (Session["User"] is ProjektniZadatak.Models.Guest)
                {
                    if (item.Status == ProjektniZadatak.Models.ReservationStatus.Created || item.Status == ProjektniZadatak.Models.ReservationStatus.Accepted)
                    {
                        <a href="~/Reservation/AbortReservation/@item.Id">Cancel reservation</a>
                    }

                    if (item.Status == ProjektniZadatak.Models.ReservationStatus.Rejected || item.Status == ProjektniZadatak.Models.ReservationStatus.Completed)
                    {
                        <a href="~/Comment/Add/@item.ReservedApartment.Id">Write comment</a>
                    }
                }
                @if (Session["User"] is ProjektniZadatak.Models.Host)
                {
                    if (item.Status == ProjektniZadatak.Models.ReservationStatus.Created)
                    {
                        <a href="~/Reservation/Accept/@item.Id">Accept reservation</a>
                    }

                    if (item.Status == ProjektniZadatak.Models.ReservationStatus.Created || item.Status == ProjektniZadatak.Models.ReservationStatus.Accepted)
                    {
                        <a href="~/Reservation/Reject/@item.Id">Reject reservation</a>
                    }

                    if (item.ReservationStartDate.AddDays(item.NumberOfNights) >= DateTime.Now && item.Status != ProjektniZadatak.Models.ReservationStatus.Completed)
                    {
                        <a href="~/Reservation/End/@item.Id">Complete reservation</a>
                    }
                }
            </td>
        </tr>
    }

</table>
