@model ProjektniZadatak.Models.Host

@{
    ViewBag.Title = "AllApartments";
}

<h2>AllApartments</h2>

<p>
    <a href="~/User/CreateNewApartment">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Number of rooms
        </th>

        <th>
            Location
        </th>
        <th>
            Price per night
        </th>
        <th>
            Status
        </th>
        <th>
            Reservations
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ApartmentsForRent)
    {
        <tr>
            <td>
                @item.ApartmentType
            </td>
            <td>
                @item.NumberOfRooms
            </td>
            <td>
                @item.Location
            </td>
            <td>
                @item.PricePerNight
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.Reservations
            </td>
            <td>
                <a href="~/User/CommentApartment/id=@item.Id">Comments</a> |
                <a href="~/User/EditApartment/id=@item.Id">Edit</a> |
                <a href="~/User/DetailsApartment/id=@item.Id">Details</a> |
                <a href="~/User/DeleteApartment/id=@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
