@model ProjektniZadatak.Models.Host

@{
    ViewBag.Title = "AllApartments";
}

<h2>Apartments</h2>

<p>
    <a href="~/User/CreateNewApartment">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Number of rooms
        </th>

        <th>
            Location
        </th>
        <th>
            Price per night
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ApartmentsForRent)
    {
        <tr>
            <td>
                @item.ApartmentType
            </td>
            <td>
                @item.NumberOfRooms
            </td>
            <td>
                @item.Location
            </td>
            <td>
                @item.PricePerNight
            </td>
            <td>
                @item.Status
            </td>
            <td>
                <a href="~/User/ReservationApartment/@item.Id">Reservations</a>
            </td>
        </tr>
    }
</table>
