@model ProjektniZadatak.Models.Apartment

@{
    ViewBag.Title = "DetailsApartment";
}

<h2>DetailsApartment</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Apartment type
        </dt>

        <dd>
            @Model.ApartmentType
        </dd>

        <dt>
            Number of rooms
        </dt>

        <dd>
            @Model.NumberOfRooms
        </dd>

        <dt>
            Number of guests
        </dt>

        <dd>
            @Model.NumberOfGuests
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Model.Location.Address
        </dd>

        <dt>
            Dates for issue
        </dt>

        <dd>
            @Model.DatesForIssues
        </dd>

        <dt>
            Available dates
        </dt>

        <dd>
            @Model.AvailableDates
        </dd>

        <dt>
            Host
        </dt>

        <dd>
            @Model.Host.Name
        </dd>

        <dt>
            Comments
        </dt>

        <dd>
            @Model.Comments
        </dd>

        <dt>
            Price per night
        </dt>

        <dd>
            @Model.PricePerNight
        </dd>

        <dt>
            Time of registration
        </dt>

        <dd>
            @Model.TimeOfRegistration
        </dd>

        <dt>
            Time of checkout
        </dt>

        <dd>
            @Model.TimeOfCheckOut
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Model.Status
        </dd>

        <dt>
            Amenities
        </dt>

        <dd>
            @Model.Amenities
        </dd>

        <dt>
            Reservations
        </dt>

        <dd>
            @Model.Reservations
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
