@model ProjektniZadatak.Models.Location

@{
    ViewBag.Title = "DetailsLocation";
}

<h2>DetailsLocation</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Latitude
        </dt>

        <dd>
            @Model.Latitude
        </dd>

        <dt>
            Longitude
        </dt>

        <dd>
            @Model.Longitude
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Model.Address
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
