@model IEnumerable<ProjektniZadatak.Models.Apartment>

@{
    ViewBag.Title = "ViewApartments";
}

<h2>ViewApartments</h2>

<table class="table">
    <tr>
        <th>
            Apartment type
        </th>
        <th>
            Number of rooms
        </th>
        <th>
            Number of guests
        </th>
        <th>
            Price per night
        </th>
        <th>
            Time of registration
        </th>
        <th>
            Time of checkOut
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ApartmentType
            </td>
            <td>
                @item.NumberOfRooms
            </td>
            <td>
                @item.NumberOfGuests
            </td>
            <td>
                @item.PricePerNight
            </td>
            <td>
                @item.TimeOfRegistration.ToShortTimeString()
            </td>
            <td>
                @item.TimeOfCheckOut.ToShortTimeString()
            </td>
            @foreach (var item2 in item.Comments)
            {
                <td>
                    @item2.Rating
                </td>
                <td>
                    @item2.Text
                </td>
            }
        </tr>
    }

</table>
