@model IEnumerable<ProjektniZadatak.Models.Apartment>

@{
    ViewBag.Title = "ViewApartments";
}

<h2>ViewApartments</h2>

<table class="table">
    <tr>
        <th>
            Apartment type
            @if (ViewBag.TypeAsc != null)
            {
                <a href="~/User/Sort/TypeAsc">&or;</a>
                TempData["model"] = Model;
            }
            else
            {
                <a href="~/User/Sort/TypeDsc">&and;</a>
                TempData["model"] = Model;
            }
        </th>
        <th>
            Number of rooms
            @if (ViewBag.RoomAsc != null)
            {
                <a href="~/User/Sort/RoomAsc">&or;</a>
                TempData["model"] = Model;
            }
            else
            {
                <a href="~/User/Sort/RoomDsc">&and;</a>
                TempData["model"] = Model;
            }
        </th>
        <th>
            Number of guests
            @if (ViewBag.GuestAsc != null)
            {
                <a href="~/User/Sort/GuestAsc">&or;</a>
                TempData["model"] = Model;
            }
            else
            {
                <a href="~/User/Sort/GuestDsc">&and;</a>
                TempData["model"] = Model;
            }
        </th>
        <th>
            Price per night
            @if (ViewBag.PriceAsc != null)
            {
                <a href="~/User/Sort/PriceAsc">&or;</a>
                TempData["model"] = Model;
            }
            else
            {
                <a href="~/User/Sort/PriceDsc">&and;</a>
                TempData["model"] = Model;
            }
        </th>
        <th>
            Time of registration
            @if (ViewBag.RegistrationAsc != null)
            {
                <a href="~/User/Sort/RegistrationAsc">&or;</a>
                TempData["model"] = Model;
            }
            else
            {
                <a href="~/User/Sort/RegistrationDsc">&and;</a>
                TempData["model"] = Model;
            }
        </th>
        <th>
            Time of checkOut
            @if (ViewBag.CheckoutAsc != null)
            {
                <a href="~/User/Sort/CheckoutAsc">&or;</a>
                TempData["model"] = Model;
            }
            else
            {
                <a href="~/User/Sort/CheckoutDsc">&and;</a>
                TempData["model"] = Model;
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ApartmentType
            </td>
            <td>
                @item.NumberOfRooms
            </td>
            <td>
                @item.NumberOfGuests
            </td>
            <td>
                @item.PricePerNight
            </td>
            <td>
                @item.TimeOfRegistration.ToShortTimeString()
            </td>
            <td>
                @item.TimeOfCheckOut.ToShortTimeString()
            </td>
            @foreach (var item2 in item.Comments)
            {
                <td>
                    @item2.Rating
                </td>
                <td>
                    @item2.Text
                </td>
            }
        </tr>
    }

</table>
