@model IEnumerable<ProjektniZadatak.Models.Apartment>

@{
    ViewBag.Title = "ViewApartments";
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery.timepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@section Scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dateOfRegistration").timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                dynamic: true,
                dropdown: true,
                scrollbar: true
            });

            $("#dateOfRegistration2").timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                dynamic: true,
                dropdown: true,
                scrollbar: true,
            });



        });

        /**/</script>
}

<br />

<form action="~/Apartment/Search" method="post">
    <div class="row">
        <div class="form-group col-xl-1"></div>

        <div class="form-group col-xl-3">
            <label>Apartment type</label>
            <select name="apartmentType" style="min-width:145px" class="btn btn-info">
                @if (ViewBag.apartmentType == ProjektniZadatak.Models.ApartmentType.Room)
                {
                    <option selected value="@ProjektniZadatak.Models.ApartmentType.Room">Room</option>
                    <option value="@ProjektniZadatak.Models.ApartmentType.WholeApartment">WholeApartment</option>
                    <option value="None">None</option>
                }
                else if (ViewBag.apartmentType == ProjektniZadatak.Models.ApartmentType.WholeApartment)
                {
                    <option value="@ProjektniZadatak.Models.ApartmentType.Room">Room</option>
                    <option selected value="@ProjektniZadatak.Models.ApartmentType.WholeApartment">WholeApartment</option>
                    <option value="None">None</option>
                }
                else
                {
                    <option value="@ProjektniZadatak.Models.ApartmentType.Room">Room</option>
                    <option value="@ProjektniZadatak.Models.ApartmentType.WholeApartment">WholeApartment</option>
                    <option selected value="None">None</option>
                }
            </select>
        </div>

        <div class="form-group col-xl-3">
            <label for="name">Number of rooms</label>
            <input min="0" style="min-width:70px;" class="btn btn-info" type="number" name="numberOfRooms" value="@ViewBag.numberOfRooms" />
        </div>
        <div class="form-group col-xl-3">
            <label>Number of guests</label>
            <input min="0" style="min-width:70px;" class="btn btn-info" type="number" name="numberOfGuests" value="@ViewBag.numberOfGuests" />
        </div>
    </div>
    <div class="row">

        <div class="form-group col-xl-1"></div>

        <div class="form-group col-xl-3">
            <label>Price per night</label>
            <input min="0" style="min-width:70px;" class="btn btn-info" type="number" name="pricePerNight" value="@ViewBag.pricePerNight" />
        </div>
        <div class="form-group col-xl-3">
            <label>Registration time</label>
            <input style="min-width:145px" class="btn btn-info" id="dateOfRegistration" readonly type="text" autocomplete="off" name="registrationTime" value="@ViewBag.registrationTime" />
        </div>
        <div class="form-group col-xl-2">
            <label>Checkout time</label>
            <input style="min-width:145px" class="btn btn-info" id="dateOfRegistration2" readonly type="text" autocomplete="off" name="checkoutTime" value="@ViewBag.checkoutTime" />
        </div>
        <div class="form-group col-xl-3"></div>
        <div class="form-group col-xl-3"></div>
        <div class="form-group col-xl-1"></div>

        <div class="form-group col-xl-3">
            <button class="btn btn-info" type="submit">Search&nbsp;&nbsp;<i class="fa fa-search"></i></button>
            @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
            <a class="btn btn-info" href="~/Apartment/">Clear&nbsp;&nbsp;<i class="fa fa-close"></i></a>
        </div>
    </div>
</form>

@if (Session["User"] is ProjektniZadatak.Models.Host)
{
    <p>
        <a href="~/Apartment/CreateNewApartment">Create apartment</a>
    </p>
}

<table class="table">

    @{
        TempData["model"] = Model;
    }

    <tr>
        <th>
            Apartment type
            @if (ViewBag.TypeAsc != null)
            {
                <a href="~/Apartment/Sort/TypeAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/TypeDsc">&and;</a>
            }
        </th>
        <th>
            Number of rooms
            @if (ViewBag.RoomAsc != null)
            {
                <a href="~/Apartment/Sort/RoomAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/RoomDsc">&and;</a>
            }
        </th>
        <th>
            Number of guests
            @if (ViewBag.GuestAsc != null)
            {
                <a href="~/Apartment/Sort/GuestAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/GuestDsc">&and;</a>
            }
        </th>
        <th>
            Price per night
            @if (ViewBag.PriceAsc != null)
            {
                <a href="~/Apartment/Sort/PriceAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/PriceDsc">&and;</a>
            }
        </th>
        <th>
            Time of registration
            @if (ViewBag.RegistrationAsc != null)
            {
                <a href="~/Apartment/Sort/RegistrationAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/RegistrationDsc">&and;</a>
            }
        </th>
        <th>
            Time of checkout
            @if (ViewBag.CheckoutAsc != null)
            {
                <a href="~/Apartment/Sort/CheckoutAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/CheckoutDsc">&and;</a>
            }
        </th>
        @if (Session["User"] is ProjektniZadatak.Models.Host)
        {
            <th></th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ApartmentType
            </td>
            <td>
                @item.NumberOfRooms
            </td>
            <td>
                @item.NumberOfGuests
            </td>
            <td>
                @item.PricePerNight
            </td>
            <td>
                @item.TimeOfRegistration.ToShortTimeString()
            </td>
            <td>
                @item.TimeOfCheckOut.ToShortTimeString()
            </td>
            @if (Session["User"] is ProjektniZadatak.Models.Host || Session["User"] is ProjektniZadatak.Models.Administrator)
            {
                <td>
                    <a href="~/Apartment/DeleteApartment/@item.Id">Delete</a> |
                    <a href="~/Apartment/EditApartment/@item.Id">Edit</a>
                </td>
            }
            @if (Session["User"] is ProjektniZadatak.Models.Guest)
            {
                <td>
                    <a href="~/Reservation/Create/@item.Id">Reserve</a> |
                </td>
            }
            @foreach (var item2 in item.Comments)
            {
                <td>
                    @item2.Rating
                </td>
                <td>
                    @item2.Text
                </td>
            }
        </tr>
    }

</table>
