@model IEnumerable<ProjektniZadatak.Models.Apartment>

@{
    ViewBag.Title = "ViewApartments";
}

@{
    if (Session["User"] is null || Model is null)
    {
        Response.Redirect("~/User/Index");
        return;
    }
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery.timepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@section Scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dateOfRegistration").timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                dynamic: true,
                dropdown: true,
                scrollbar: true
            });

            $("#dateOfRegistration2").timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                dynamic: true,
                dropdown: true,
                scrollbar: true,
            });



        });

        /**/</script>
}

<br />

<form action="~/Apartment/Search" method="post">
    <div class="row">
        <div class="form-group col-xl-3">
            <label>Apartment type</label><br />
            <select name="apartmentType" style="min-width:145px" class="btn btn-info">
                @if (ViewBag.apartmentType == ProjektniZadatak.Models.ApartmentType.Room)
                {
                    <option selected value="@ProjektniZadatak.Models.ApartmentType.Room">Room</option>
                    <option value="@ProjektniZadatak.Models.ApartmentType.WholeApartment">WholeApartment</option>
                    <option value="None">None</option>
                }
                else if (ViewBag.apartmentType == ProjektniZadatak.Models.ApartmentType.WholeApartment)
                {
                    <option value="@ProjektniZadatak.Models.ApartmentType.Room">Room</option>
                    <option selected value="@ProjektniZadatak.Models.ApartmentType.WholeApartment">WholeApartment</option>
                    <option value="None">None</option>
                }
                else
                {
                    <option value="@ProjektniZadatak.Models.ApartmentType.Room">Room</option>
                    <option value="@ProjektniZadatak.Models.ApartmentType.WholeApartment">WholeApartment</option>
                    <option selected value="None">None</option>
                }
            </select>
        </div>

        <div class="form-group col-xl-3">
            <label for="name">Min number of rooms</label><br />
            <input min="0" style="min-width:70px;" class="btn btn-info" type="number" name="minNumberOfRooms" value="@ViewBag.numberOfRoomsMin" />
        </div>
        <div class="form-group col-xl-3">
            <label for="name">Max number of rooms</label>
            <input min="0" style="min-width:70px;" class="btn btn-info" type="number" name="maxNumberOfRooms" value="@ViewBag.numberOfRoomsMax" />
        </div>
        <div class="form-group col-xl-3">
            <label>Number of guests</label><br />
            <input min="0" style="min-width:70px;" class="btn btn-info" type="number" name="numberOfGuests" value="@ViewBag.numberOfGuests" />
        </div>
    </div>
    <div class="row">

        <div class="form-group col-xl-3">
            <label>Min price per night</label><br />
            <input min="0" style="min-width:70px;" class="btn btn-info" type="number" name="minPricePerNight" value="@ViewBag.pricePerNightMin" />
        </div>
        <div class="form-group col-xl-3">
            <label>Max price per night</label><br />
            <input min="0" style="min-width:70px;" class="btn btn-info" type="number" name="maxPricePerNight" value="@ViewBag.pricePerNightMax" />
        </div>
        <div class="form-group col-xl-3">
            <label>Registration time</label><br />
            <input style="min-width:145px" class="btn btn-info" id="dateOfRegistration" readonly type="text" autocomplete="off" name="registrationTime" value="@ViewBag.registrationTime" />
        </div>
        <div class="form-group col-xl-3">
            <label>Checkout time</label><br />
            <input style="min-width:145px" class="btn btn-info" id="dateOfRegistration2" readonly type="text" autocomplete="off" name="checkoutTime" value="@ViewBag.checkoutTime" />
        </div>
        @if (Session["User"] is ProjektniZadatak.Models.Host || Session["User"] is ProjektniZadatak.Models.Administrator)
        {
            <div class="form-group col-xl-3">
                <label>Status</label><br />
                <select name="status" style="min-width:145px" class="btn btn-info">
                    @if (ViewBag.status == ProjektniZadatak.Models.ApartmentStatus.Active)
                    {
                        <option selected value="@ProjektniZadatak.Models.ApartmentStatus.Active">Active</option>
                        <option value="@ProjektniZadatak.Models.ApartmentStatus.Inactive">Inactive</option>
                        <option value="None">None</option>
                    }
                    else if (ViewBag.status == ProjektniZadatak.Models.ApartmentStatus.Inactive)
                    {
                        <option value="@ProjektniZadatak.Models.ApartmentStatus.Active">Active</option>
                        <option selected value="@ProjektniZadatak.Models.ApartmentStatus.Inactive">Inactive</option>
                        <option value="None">None</option>
                    }
                    else
                    {
                        <option value="@ProjektniZadatak.Models.ApartmentStatus.Active">Active</option>
                        <option value="@ProjektniZadatak.Models.ApartmentStatus.Inactive">Inactive</option>
                        <option selected value="None">None</option>
                    }
                </select>
            </div>
        }
        else
        {
            <div class="form-group col-xl-3"></div>
        }

        <div class="form-group col-xl-3">
            <label>Amenity</label><br />
            <select name="amenity" style="min-width:145px" class="btn btn-info">
                @{
                    using (var model = new ProjektniZadatak.Models.Databse.Model())
                    {
                        var amenities = model.GetAmenities().ToList();

                        foreach (var item in amenities)
                        {
                            if (ViewBag.amenity != null)
                            {
                                if (ViewBag.amenity == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    }
                }
            </select>
        </div>


        <div class="form-group col-xl-3">
            <label class="invisible">A</label><br />
            <button class="btn btn-info" type="submit">Search&nbsp;&nbsp;<i class="fa fa-search"></i></button>
            @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
            <a class="btn btn-info" href="~/Apartment/ViewApartments">Clear&nbsp;&nbsp;<i class="fa fa-close"></i></a>
        </div>
    </div>
</form>

@if (Session["User"] is ProjektniZadatak.Models.Host)
{
    <p class="text-center">
        <a class="btn btn-primary" href="~/Apartment/CreateNewApartment">Create apartment</a>
    </p>
}

<table class="table">

    @{
        TempData["modelApa"] = Model;
    }

    <tr>
        <th style="min-width:161px;">
            Apartment type
            @if (ViewBag.TypeAsc != null)
            {
                <a href="~/Apartment/Sort/TypeAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/TypeDsc">&and;</a>
            }
        </th>
        <th style="min-width:176px;">
            Number of rooms
            @if (ViewBag.RoomAsc != null)
            {
                <a href="~/Apartment/Sort/RoomAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/RoomDsc">&and;</a>
            }
        </th>
        <th style="min-width:177px;">
            Number of guests
            @if (ViewBag.GuestAsc != null)
            {
                <a href="~/Apartment/Sort/GuestAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/GuestDsc">&and;</a>
            }
        </th>
        <th style="min-width:153px;">
            Price per night
            @if (ViewBag.PriceAsc != null)
            {
                <a href="~/Apartment/Sort/PriceAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/PriceDsc">&and;</a>
            }
        </th>
        <th style="min-width:191px;">
            Time of registration
            @if (ViewBag.RegistrationAsc != null)
            {
                <a href="~/Apartment/Sort/RegistrationAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/RegistrationDsc">&and;</a>
            }
        </th>
        <th style="min-width:171px">
            Time of checkout
            @if (ViewBag.CheckoutAsc != null)
            {
                <a href="~/Apartment/Sort/CheckoutAsc">&or;</a>
            }
            else
            {
                <a href="~/Apartment/Sort/CheckoutDsc">&and;</a>
            }
        </th>
        <th style="min-width:150px">
            Pictures
        </th>
        @if (Session["User"] is ProjektniZadatak.Models.Host)
        {
            <th></th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ApartmentType
            </td>
            <td>
                @item.NumberOfRooms
            </td>
            <td>
                @item.NumberOfGuests
            </td>
            <td>
                @item.PricePerNight
            </td>
            <td>
                @item.TimeOfRegistration.ToShortTimeString()
            </td>
            <td>
                @item.TimeOfCheckOut.ToShortTimeString()
            </td>
            <td style="max-width:300px;">
                @try
                {
                    foreach (var item2 in Directory.GetFiles(Server.MapPath(item.PicturesLocation.Replace("~", ""))))
                    {
                        var tmp = item2.Split('\\');
                        string src = $"/{tmp[tmp.Length - 3]}/{tmp[tmp.Length - 2]}/{tmp[tmp.Length - 1]}";
                        <img src="@src" height="50" width="50" alt="Error" />
                    }
                }
                catch (Exception) { }
            </td>
            @if (Session["User"] is ProjektniZadatak.Models.Host || Session["User"] is ProjektniZadatak.Models.Administrator)
            {
                <td style="min-width:150px;">
                    <a href="~/Apartment/DeleteApartment/@item.Id">Delete</a> |
                    <a href="~/Apartment/EditApartment/@item.Id">Edit</a> |
                    <a href="~/Comment/Show/@item.Id">Show comments</a>
                </td>
            }
            else if (Session["User"] is ProjektniZadatak.Models.Guest)
            {
                <td style="min-width:150px;">
                    <a href="~/Reservation/Create/@item.Id">Reserve</a> |
                    <a href="~/Comment/ViewComments/@item.Id">Comments</a>
                </td>
            }
        </tr>
    }

</table>
